
  .container-barra-pesquisa{
    display: flex;
    margin-top: 1em;
    width: 40%;
    float: right;
  }

  .campo-pesquisa {

    width: 60%;

  }


  .campo-selecao {

    width: 20%;
  }
  

  .table th, .table td {
    padding: 0.75rem;
    vertical-align: unset;
    border-top: 1px solid #dee2e6;

  }

  .img-thumbnail {
    width: 60px;
    height: 60px;
    border-radius: 80%;
  }
  
  nav.navbar.navbar-default {
    background-color: #337ab7;
    border-color: #2e6da4;
  }
  
  nav.navbar.navbar-default a {
    color: white;
  }
  
  li p.navbar-text, a.navbar-brand {
    color: white!important;
    font-weight: bolder;
  }
  
 